.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2EDED;
}

header {
    background-image: url('Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 698px;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 130px;
    align-items: center;
    height: 150px;
}

.header .navbar h1 {
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 800;
    color: #4E47FF;
}

.header .navbar a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    text-decoration: none;
}

.header .head_content {
    margin: 155px auto 100px auto;
    text-align: center;
    max-width: 905px;
    font-family: "Raleway", sans-serif;
}

.header .head_content p {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

.header .head_content button {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
    margin: 116px 130px;
    font-family: 'Raleway', sans-serif;
}

.action .left h1 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action .left p {
    font-size: 24px;
    font-weight: regular;
    margin: 23px 0;
    color: #25243250
}

.action .left button {
    padding: 12px 26px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.action .right img {
    border-radius: 48px;
}

.productive_users {
    margin: 116px 130px;
    background-color: #4E47FF10;
    border-radius: 24px;
    padding: 50px 142px;
}

.productive_users h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.productive_users .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-top: 40px;
}

.productive_users .content h1 {
    font-family: inherit;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.productive_users .content p {
    font-family: inherit;
    font-size: 20px;
    font-weight: regular;
    color: #00000050;
    text-align: center;
}

.feedback {
    margin: 116px 130px;
}

.feedback .feed_title {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.feedback .content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feedback .content .card1,
.card2,
.card3 {
    /* background-color: #F2EDED; */
    background-color: #ffffff50;
    border-radius: 14px;
    padding: 24px;
}

.feedback .content .card1 .comment h1,
.feedback .content .card2 .comment h1,
.feedback .content .card3 .comment h1 {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin: 24px 0 8px 0;
    color: black;
}

.feedback .content .card1 .comment p,
.feedback .content .card2 .comment p,
.feedback .content .card3 .comment p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #252432;
}

.feedback .content .card1 .user,
.feedback .content .card2 .user,
.feedback .content .card3 .user {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 24px;
}

.feedback .content .card1 .user img,
.feedback .content .card2 .user img,
.feedback .content .card3 .user img {
    border-radius: 50%;
}

.feedback .content .card1 .user .profile p,
.feedback .content .card2 .user .profile p,
.feedback .content .card3 .user .profile p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #25243290;
}

.feedback .content .card1 .user .profile .p1,
.feedback .content .card2 .user .profile .p1,
.feedback .content .card3 .user .profile .p1 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #25243250;
}

.extra {
    margin: 116px 130px;
    background-color: #ffffff;
    border-radius: 14px;
    text-align: center;
    padding: 71px 150px;
}

.extra h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: black;
    line-height: 120px;
}

.extra p {
    color: #00000050;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.extra button {
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    font-family: 'Raleway', sans-serif;
    font-weight: medium;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.extra img {
    border-radius: 48px;
    margin-top: 20px;
    width: 100%;
}

.contact {
    margin: 116px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 115px;
}

.contact h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 97px;
}

.contact input[type="text"],
.contact input[type="email"] {
    padding: 20px 32px;
    background-color: white;
    border-radius: 10px;
    width: 497px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact label {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.contact textarea {
    width: 497px;
    padding: 20px 32px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.contact input[type="text"],
.contact input[type="email"] {
    font-size: 18px
}

.contact textarea:placeholder-shown {
    font-size: 18px;
}

.contact button {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 19px 0%;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    margin: 19px auto;
    width: 100%;
}